<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- JDBC 数据库连接配置 -->
    <property name="connection.url">
      jdbc:mysql://localhost:3306/hibernate?useSSL=false&amp;serverTimezone=Asia/Shanghai
    </property>
    <property name="connection.username">root</property>
    <property name="connection.password">qwe@123</property>

    <!-- JDBC 数据库连接池配置, 使用内置的测试连接池 -->
    <property name="connection.pool_size">1</property>

    <!-- 在控制台打印 SQL 语句 -->
    <property name="show_sql">true</property>

    <!-- 设置当前 Session Context -->
    <property name="current_session_context_class">thread</property>
  </session-factory>
</hibernate-configuration>
